*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
*,
*::before,
*::after {
 box-sizing: border-box;
}
body{
    background-color: #000000;
    /*background-image: url('../imagini/descarcare.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
#landing{
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    height:100vh;
}
#back{
    position: relative;
    overflow-x: hidden;
    height:100vh;
}
#back img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#landing img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
nav{
    position: fixed;
    display: block;
    top: 2.5%;
    /*background: rgb(0, 0, 0,.4);*/
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.4s;
    /*border-bottom: 2px solid white;*/
    z-index: 5;
}
nav a{
    text-decoration: none;
    color:#ffffff;
    font-family: 'Raleway',sans-serif; 
    font-size: 3vh; 
    font-weight: 500;
    padding-left: 2vh;
    padding-right: 2vh;
    cursor: pointer;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
nav a:hover{
    background: rgb(0, 0, 0,1);
    opacity: 1;
}
#landing h1{
    color: #ffffff; 
    position: relative;
    font-family: 'Raleway',sans-serif; 
    font-size: 7em; 
    font-weight: 800;
    padding-top: 20px; 
    margin: 0 0 24px; 
    display: block;
    top:30%;
    text-align: center; 
    text-transform: uppercase;
}

#landing h2{
    color: #ffffff; 
    position:relative;
    font-family: 'Raleway',sans-serif; 
    font-size: 1.5em;
    top: 6em;
    display: block;
    font-weight: 800;
    padding-top: 20px; 
    margin: 0 0 24px; 
    text-align: center; 
}
#registerSection{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:80vh;
}
@media only screen and (min-height: 900px){
    #registerSection {
       display: flex;
       flex-direction: column;
    }
}
#register{
    padding-top: 4vh;
    width: 75%;
    height: fit-content;
    background: rgb(255, 255, 255,0.7);
    box-shadow: 10px 10px 5px black;
    position: absolute;
    text-align: center;
    margin-top: 12%;
}
#register p,label{
    color:black;
    font-family: 'Raleway',sans-serif; 
    font-size: 3vh; 
    font-weight: 300;
    display: block;
    position:relative;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-left: 20px;
}
#register h1{
    color: #000000; 
    position: relative;
    font-family: 'Raleway',sans-serif; 
    font-size: 6vh; 
    font-weight: 800;
    padding-bottom: 3vh; 
    margin: 0 0 10px; 
    text-align: center; 
}
#register h2{
    color: #000000; 
    position: relative;
    font-family: 'Raleway',sans-serif; 
    font-size: 3vh; 
    font-weight: 700;
    padding-bottom: 4vh;
    margin: 0 0 24px; 
    text-align: center; 
}
input[type="text"],
input[type="password"],
select{
    display: block;
    box-sizing: border-box;
    position:relative;
    margin: 0 auto;
    margin-bottom: 3vh;
    background: none;
    padding: 0.5vh;
    width: 28vh;
    z-index: 5;
    height: 4.5vh;
    border: none;
    border-bottom: 2px solid gray ;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 3vh;
    transition: 0.2s ease;
}
input[type="color"],
input[type="date"],
input[type="time"],
input[type="range"],
input[type="url"],
textarea{
    display: block;
    box-sizing: border-box;
    position:relative;
    padding: 0.5vh;
    margin-bottom: 3vh;
    z-index: 5;
    background: none;
    width: 28vh;
    height: 4.5vh;
    border: none;
    border-bottom: 2px solid gray ;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2.5vh;
    transition: 0.2s ease;
}
input[type="text"]:focus,
input[type="password"]:focus,
select:focus{
    border: none;
    border-bottom: 2px solid #ec313a;
    color: #c2070a;
    outline: none;
    transition: 0.2s ease;
}
input[type="color"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="range"]:focus,
input[type="url"]:focus,
textarea{
    border: none;
    border-bottom: 2px solid #ec313a;
    color: #c2070a;
    outline: none;
    transition: 0.2s ease;
}
.form-group{
    overflow: hidden;
    display: inline-block;
    position: relative;
    z-index: 5;
    overflow-x: hidden;
}
.centered{
    text-align: center;
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 6vh;
}
input[type="checkbox"]{
    transform: scale(1.7);
    margin-left: 7px;
}
.button-3 {
  appearance: none;
  background-color: #ec313a;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
#video{
    width: 100%;
    display: block;
    text-align: center;
}
#despre{
    color:black;
    font-family: 'Raleway',sans-serif; 
    font-size: 3vh; 
    font-weight: 300;
    display: block;
    position:relative;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-left: 20px;
}
#despre h1{
    color: #ffffff; 
    position: relative;
    font-family: 'Raleway',sans-serif; 
    font-size: 11vh; 
    font-weight: 800;
    width: 210%;
    padding-top: 7vh;
    line-height: 0.9em; 
    text-align: left; 
    text-transform: uppercase;
}
#despre h2{
    color: #ffffff; 
    position: relative;
    font-family: 'Raleway',sans-serif; 
    font-size: 6vh;
    font-weight: 800; 
    text-align: left; 
}
#despre p{
    color: #ffffff; 
    position: relative;
    font-family: 'Raleway',sans-serif; 
    font-size: 3vh;
    font-weight: 800; 
    text-align: left; 
    opacity: 0.7;
}
#twoSide{
    width: 100%;
    height: 100vh;
    position: relative;
}
.sectiuneNormala{
    width: 100%;
    height: 100vh;
    position: relative;
    display: block;
    color: white;
    justify-content: center;
    text-align: center;
}
#left{
    width: 50%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.7);
    position: relative;
    display: inline-block;
    float: left;
    overflow: visible;
    padding-top: 10%;
    z-index: 4;
}
#right{
    width: 50%;
    height: 100%;
    position: relative;
    display: inline-block;
    z-index: 3;
    overflow-x: visible;
}
#right img{
    position: absolute;
    right:0;
    top:0;
    width: 150%;
    height: 100%;
    object-fit: cover;
}
#down{
    color: #ffffff; 
    position: relative;
    font-family: 'Raleway',sans-serif; 
    font-size: 3vh;
    display: inline-block;
    text-align: center;
    width: 100%;
    z-index: 5;
    font-weight: 800; 
}
#down p {
    padding-bottom:4vh;
    padding-top: 4vh;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    text-align: center;
    margin: 0 auto;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table tr th {
    background-color: #ec313a;
    color: #ffffff;
    text-align: center;
    border: 2px solid #000000;
}
.styled-table tr td{
    border: 2px solid #000000;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
    color:#000000;
}
.styled-table tbody tr:nth-of-type(odd) {
    background-color: #8e8e8e;
    color:#ffffff;
}
#svgSection{
    text-align: center;
    width: 100%;
    height: 60vh;
    margin-top:10%;
}
#svgSection svg{
    width: 100%;
    height: 100%;
}
#svgSection svg #rect{
    width: 100%;
    margin: 0;
    height: 13vh;
    stroke: #000000;
    stroke-width: 3;
    /*background-color: linear-gradient(45deg, #d5ff00, #057a26);*/
    fill: url(#grad1);
}
#sky{
    width: 100%;
    margin: 0;
    height: 100%;
    fill:url(#morningSky);
    animation:skyAnimation 5s linear infinite;
}
.triangle{
    fill: url(#gradMountain);
    stroke: black;
    stroke-width: 3;
    transition: all 0.8s ease-in-out;
}
#sun{
    stroke:black;
    stroke-width:3;
    fill:url(#sunGrad);
    transform-origin: 500px 500px;
    animation: sunset 5s linear infinite;
}
#text{
    fill: #ffffff;
    font-family: 'Raleway',sans-serif; 
    transform: translateX(-600px);
    font-size: 15vh;
    stroke:#000000;
    stroke-width: 3;
    font-weight: 800; 
    animation: textAnimation 5s linear infinite;
}
@keyframes sunset {
    from {
        transform: rotate(0deg);
    }
    to {transform: rotate(120deg);}
  }
@keyframes skyAnimation {
    5%   {fill: url(#morningSky);}
    20%  {fill: url(#daySky);}
    40%  {fill: url(#midDaySky);}
    60% {fill: url(#eveningSky);}
    80% {fill: url(#sleepSky);}
    100% {fill: url(#nightSky);}
  }
  @keyframes textAnimation {
    from {
        transform: translateX(-600px);
    }
    to {transform: translate(110%);}
  }
#info{
    width: 100%;
    height:fit-content;
    position: relative;
    margin-top: 10%;
    background: url("../imagini/beach2.jpg");
    background-repeat: no-repeat;
    background-position-y: top;
    background-size:cover;
    padding-top: 2%;
    padding-bottom: 2%;
    overflow: hidden;
}

#info p{
    color: white; 
    position: relative;
    font-family: 'Raleway',sans-serif; 
    font-size: 2.5vh; 
    -webkit-text-stroke: 0.9px;
    -webkit-text-stroke-color: black;
    font-weight: 800;
    margin-left: 2%;
    padding-top: 5px;
    padding-bottom: 5px;
}
i{
    float: left;
    color:black;
    margin-right: 1%;
}
#infoH1{
    color: #ffffff; 
    position: absolute;
    font-family: 'Raleway',sans-serif; 
    font-size: 13vh;
    padding-right: 2%;
    opacity: 0.5;
    bottom: 0;
    right: 0;
    font-weight: 800;
    text-transform: uppercase;
}
#tabelH1{
    color: #ffffff; 
    position: absolute;
    font-family: 'Raleway',sans-serif; 
    font-size: 13vh;
    padding-left: 2%;
    opacity: 0.5;
    bottom: 0;
    left: 0;
    font-weight: 800;
    text-transform: uppercase;
}
#userTable{
    width: 100%;
    height: fit-content;
    background-color: #2c974b;
    position: relative;
    text-align: right;
    background: url("../imagini/countryside.jpg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-size:cover;
    display: block;
    padding-top:7vh;
    padding-bottom: 7vh;
}
#culoareTabel{
    position: relative;
    display: inline-block;
}
#plansaDesen{
    width: 100%;
    height: 300px;
}
#desen{
    width: 100%;
    height: 300px;
    position: relative;
    background-color: white;
}
footer{
    background-color: #ec313a;
    height: 5vh;
    text-align: center;
    color:#ffffff;
    padding-top: 2vh;
    margin-top: auto;
    padding-bottom: 2vh;
    border-top: 2px solid white;
}